<!-- Navigation -->
<app-navbar></app-navbar>
<!-- Body Dashboard -->
<div class="container">
    <div class="row mt-4">
        <div class="col-6">
            <h1>Activity</h1>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-end">
            <a type="button" class="btn rounded-5 btn-custom d-flex align-items-center justify-content-center"><fa-icon [icon]="faPlus" class="m-2"></fa-icon>Tambah</a>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 d-flex justify-content-center">
            <a href="/"><img src="assets/images/image-2.png" class="image-1"></a>
        </div>
    </div>
</div>
